@import "../../Colors.scss";
.exportdiv {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	margin-top: calc(1vh + 20px);
	.tableheading {
		font-size: calc(1vw + 20px);
		text-align: center;
		font-weight: bold;
		color: $secondry_color;
	}
}
.chatlistcont {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	.chatitem {
		width: 90%;
		height: 40px;
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		cursor: pointer;
		margin: 0 auto;
		border: 1px solid $primary_color;
		#msgicon {
			font-size: 35px;
			color: $primary_color;
			margin-left: 10px;
		}
		span {
			font-size: calc(0.4vw + 12px);
			margin-left: 10px;
			text-transform: capitalize;
			font-weight: bold;
			width: 80%;
		}
	}
}
