@import "../../Colors.scss";
.overviewcard {
  width: 95%;
  max-width: 250px;
  height: 140px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: $primary_color;
  padding: 0 10px;
  .columndiv {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    h1 {
      color: $secondry_color;
      margin-bottom: 10px;
    }
    span {
      color: lightgrey;
      font-size: 14px;
    }
  }
  .seccolmn {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.CircularProgressbar-path {
  stroke: $secondry_color !important;
}
.CircularProgressbar-trail {
  display: none;
}
.CircularProgressbar-text {
  fill: lightgrey !important;
}
