@import "../../Colors.scss";
.leftdiv {
	position: relative;
	background: $secondry_color;
	text-align: left;
	min-width: 55%;
	max-width: 80%;
	padding: 10px 15px;
	border-radius: 6px;
	color: $primary_color !important;
	border: 1px solid $secondry_color;
	float: left;
	left: 20px;
	margin-bottom: 10px;
	&::before {
		content: "";
		position: absolute;
		visibility: visible;
		top: -1px;
		left: -10px;
		border: 10px solid transparent;
		border-top: 10px solid $secondry_color;
	}

	&::after {
		content: "";
		position: absolute;
		visibility: visible;
		top: 0px;
		left: -8px;
		border: 10px solid transparent;
		border-top: 10px solid $secondry_color;
		clear: both;
	}
}

.rightdiv {
	position: relative;
	background: $primary_color;
	text-align: right;
	color: $secondry_color !important;
	min-width: 55%;
	max-width: 80%;
	padding: 10px 15px;
	border-radius: 6px;
	border: 1px solid $primary_color;
	float: right;
	right: 20px;
	margin-bottom: 10px;
	&::before {
		content: "";
		position: absolute;
		visibility: visible;
		top: -1px;
		right: -10px;
		border: 10px solid transparent;
		border-top: 10px solid $primary_color;
	}
	&::after {
		content: "";
		position: absolute;
		visibility: visible;
		top: 0px;
		right: -8px;
		border: 10px solid transparent;
		border-top: 10px solid $primary_color;
		clear: both;
	}
}
